.titles, form{
    text-align: center;
}
.titles p{
    font-size: 2rem;
}
.table{
    margin: auto;
    margin-top: 30px;
    border: 2px solid black;
    width: 50%;
    padding: 1rem;
    text-align: center;
    min-height: 300px;
}
table tr td{
    padding: 1rem;
}
table{
    width: 100%;
}
.overlay{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color : rgba(0,0,0,0.6);
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
}
.red{
    color: red;
}
.green{
    color: green;
}
.result{
    text-align: center;
}